* {
  box-sizing: border-box;
}

/* colours and decoration */

body {
  background-image: url("./images/pattern-background-desktop.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.top-image {
  border-radius: 20px 20px 0 0;
}

.mainbox {
  display: flex;
  flex-direction: column;
  background-color: hsl(0,0%,100%);
  width: 450px;
  margin: auto;
  border-radius: 20px;
}

h1, h2 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

h1 {
  margin: 20px 10px 10px 10px;
}

h2 {
  font-size: 1em;
  margin-bottom: 5px;
}

p {
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  margin-top: 0;
}

#maintext {
  text-align: center;
  padding: 10px 30px 10px 30px;
  margin-top: 0;
}

#payment {
  text-decoration: none;
  text-align: center;
  font-size: 0.9em;
  font-weight: 700;
  color: hsl(0,0%,100%);
  background-color: hsl(245, 75%, 52%);
  width: 90%;
  margin: 25px;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 10px 40px hsl(245, 75%, 85%);
}

#payment:active {
  background-color: hsl(245, 75%, 68%);
}

#cancel {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  font-size: 0.9em;
  font-weight: 900;
  margin-bottom: 15px;
}

#cancel:active {
  color: hsl(223, 47%, 23%);
}

/* flexbox */

.subbox2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pricebox {
  background-color: hsl(225, 100%, 98%);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
}

.pricebox a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  margin-left: 5em;
}

.pricebox a:active {
  color: hsl(245, 75%, 68%);
  text-decoration: none;
}

.annual_plan {
  margin-right: 1.5em;
}

.image {
  margin-right: 1.5em;
}

@media (max-width: 450px) {

  body {
    background-image: url("./images/pattern-background-mobile.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0.8em;
  }

  p {
    font-size: 0.9em;
  }

  .container {
    width: 95%;
    position: absolute;
    margin: auto;
    }

    .mainbox {
      width: inherit;
    }

    .pricebox {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px 10px 20px;
    }

    .pricebox a {
      width: 30%;

    }

    .annual_plan {
      width: 25%;
      white-space: nowrap;
    }

    .image {
      width: 15%;
    }

}
